ul {
    border: 1px solid #ced4da;
    list-style-type: none;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 10px;
    cursor: pointer;
}

 li:hover {
    padding: 5px 10px;
    background-color: lightgray;
}

.container {
    margin-bottom: 50px;
}